*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: pink;
}
#clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url('./clock.png') no-repeat;
    background-size: 100%;
}
#hour,#minute,#second{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 2%;
    height: 24%;
    top: 26%;
    left: 48.7%;
    opacity: 0.8;
}
#minute{
    width: 2%;
    height: 34%;
    top: 17%;
    left: 48.7%;
    opacity: 0.8;

}
#second{
    width: 2%;
    height: 39%;
    top: 11%;
    left: 48.7%;
    opacity: 0.8;
}
@media (max-width:800px) {
    #clockContainer{
        height: 50vw;
        width: 50vw;
    }
}
@media (max-width:500px) {
    #clockContainer{
        height: 80vw;
        width: 80vw;
    }
}